body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* * {
  border: 1px solid red;
} */

.car-hire-form {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.completed-order {
  margin: auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  grid-gap: 10px;
}

.completed-order div {
  margin: 0;
}
